.coin {
  display: inline-block;
  border: 0.2em solid;
  border-radius: 0.4em;
  box-shadow: 0.4em 0.1em 1em rgba(0,0,0,0.3);
  padding: 0.6em;
  margin: 1em;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
  min-width: 10em;
}
.coin:active, .coin:hover, .coin.active {
  box-shadow: 0.2em 0.05em 1em rgba(0,0,0,0.3);
}
.coin svg {
  filter: drop-shadow(0.2em 0.2em 0.2em rgba(0,0,0,0.3));
}

.coin-seperator {
  margin-bottom: 0.4em;
}

.coin-details {
  margin-top: 0.4em;
  color: #333333;
}

.coin-details p {
  margin: 0;
}

.coin-name {
  font-size: 1.4em;
  font-weight: bold;
}

.trend {
  min-width: 30em;
}
