.details {
  display: inline-block;
  min-width: 30em;
  max-width: 100%;
  margin: 1em;
}

.details svg {
  filter: drop-shadow(0.2em 0.2em 0.2em rgba(0,0,0,0.3));
}

@media screen and (max-width: 32em) {
  .details {
    display: block;
    min-width: 100%;
    margin: 1em 0;
  }

  .details svg {
    filter: none;
  }
}
