.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 2s linear; */
  transform-origin: center;
  height: 80px;
  display: inline-block;
  padding: 0.2em;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  margin: 0;
  font-size: 1.5em;
  line-height: 2em;
}

.App-intro {
  font-size: large;
}

.icons {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0 1em;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start; */
}

.add-form {
  padding: 1em;
  padding-top: 0;
}

.text-center {
  text-align: center;
}

section {
  margin-top: 2em;
}

.full-size {
  position: relative;
  height: 100%;
  width: 100%;
}
.white-text {
  color: #fff!important;
}
.white-fill {
  fill: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@media screen and (max-width: 32em) {
  .icons.responsive {
    flex-direction: column;
  }
}
